# Node modules
node_modules/

# Yarn lock file
yarn.lock

# macOS system files
.DS_Store

# Expo
.expo/
.expo-shared/

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist/
/build/
/web-build/

# IDE files
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Misc
*.log 